{% extends "header.html" %}
{% block title%}Movimientos - {% endblock %}
{% block content %}
{{ block.super }}
<main class="container">
    <h1 class="mt-4"><i class="fa-solid fa-money-bill-transfer"></i> Movimientos</h1>
    <div class="d-flex gap-3 mb-3">
        <a href="/movimientos?op=gasto">
            <button class="btn btn-outline-warning">
                Registrar gasto
            </button>
        </a>
        <a href="/movimientos?op=ingreso">
            <button class="btn btn-outline-success">
                Registrar ingreso
            </button>
        </a>
        <a href="/movimientos?op=traspaso">
            <button class="btn btn-outline-primary">
                Registrar traspaso
            </button>
        </a>

        {% if op %}
        <a href="/movimientos/">
            <button class="btn btn-outline-danger">
                Cancelar
            </button>
        </a>
        {% endif %}
    </div>

    {% if op %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Realizar movimiento</button>
    </form>
    {% endif %}

    <h3 class="mt-4"><i class="fa-solid fa-file-invoice"></i> Lista de movimientos</h3>
    <div class="d-flex flex-column">
        {% for movimiento in movimientos %}
        <div class="d-flex flex-column my-2 border border-light-emphasis rounded-2 p-2">
            <div class="d-flex justify-content-between">
                <span>Desde <strong>{{ movimiento.origen.nombre }}</strong> hacia <strong>{{ movimiento.destino.nombre }}</strong> el {{ movimiento.fecha }}</span>
                <span class="badge bg-success fs-6">${{ movimiento.monto }}</span>
            </div>
            <div>{{ movimiento.concepto }}</div>
        </div>
        {% empty %}
        <p>Todavía no hay movimientos</p>
        {% endfor %}
    </div>
</main>
{% endblock %}
